.latestBlogCard {
    height: 60vh;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
}

/* .latestBlogCard:hover,
.latestBlogCard:focus{
    transform: scale(103%);
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
} */

.latestBlogCardImage {
    height: 100%;
    object-fit: cover;
}

.recentBlogsList {
    height: 73vh;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .latestBlogCard {
        height: 45vh;
    }

    .recentBlogsList {
        background: rgb(224, 209, 220);
        background: linear-gradient(0deg, rgba(224, 209, 220, 0.8) 15%, rgba(223, 214, 165, 0.5) 50%, rgba(224, 209, 220, 0.8) 85%);

    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}