* {
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */

}

body {
    overflow-x: hidden;
    /* padding-right: 0px !important; */
}

.card-hover:hover,
.card-hover:focus {
    transform: scale(103%);
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
    background: rgb(223, 214, 165);
    background: linear-gradient(0deg, rgba(223, 214, 165, 0.3) 0%, rgba(224, 209, 220, 0.3) 100%);
}

.card-hover {
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
}

/* .nav-hover:hover,
.nav-hover:focus {
    border-bottom: 0.15em solid black;
    transition-duration: 0.1s;
}

.nav-hover{
    border-bottom: 0.15em solid hidden;
    transition-duration: 0.1s;
    transition-timing-function: ease-out;
} */


.button-hover:hover,
.button-hover:focus {
    border: 0.8px solid rgba(255, 255, 255, 0);
    background: linear-gradient(90deg, rgba(246, 95, 56, 1) 35%, rgba(228, 235, 76, 1) 97%);
}

.navTheme {
    background: rgb(223, 214, 165);
    background: linear-gradient(90deg, rgba(223, 214, 165, 0.4) 0%, rgba(224, 209, 220, 0.4) 100%);
    backdrop-filter: blur(8px);
}

.messageCard {
    border-radius: 1.5em;
}

.avenueCard {
    border-radius: 1em;
}

.socialLinks {
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
}

.socialLinks:hover,
.socialLinks:focus {
    transform: scale(120%);
    transition-duration: 0.3s;
    transition-timing-function: ease-out;

}

.c-item {
    height: 85vh;
}

.c-image {
    height: 100%;
    object-fit: cover;
    filter: brightness(0.6);
}

.logo-image {
    height: 30px;
    object-fit: cover;
}

.visionMission {
    border-radius: 2em;
    background: rgb(223, 214, 165);
    background: linear-gradient(90deg, rgba(223, 214, 165, 1) 0%, rgba(224, 209, 220, 1) 100%);

}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .c-item {
        height: 55vh;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}