/* Styles for not select text in web page  */
* {
    -webkit-user-select: none;  /* Safari */    
    -ms-user-select: none;  /* IE 10 and IE 11 */   
    user-select: none;  /* Standard syntax */
}



/* carousel */
.c-item {
    height: 85vh;
}

.carousel-image {
    height: 100%;
    object-fit: cover;
    filter: brightness(0.6);
}

/* Avenue section & message section cards  */
.avenueCard , .messageCard {
    /* border-radius: 1em; */
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
}

.avenueCard:hover,
.avenueCard:focus,
.messageCard:hover,
.messageCard:focus {
    transform: scale(103%);
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
    background: rgb(223, 214, 165);
    background: linear-gradient(0deg, rgba(223, 214, 165, 0.3) 0%, rgba(224, 209, 220, 0.3) 100%);
}

/* avenue card bottom button  */
/* .avenueCardBtn{
    border-radius: 1.1em;
} */

.avenueCardBtn:hover,
.avenueCardBtn:focus {
    border: 0.8px solid rgba(255, 255, 255, 0);
    background: green;
    box-shadow: 0 .1em 0.5em rgb(50, 129, 0.3);
}

/* vision & mission section  */
.visionMission {
    /* border-radius: 1em; */
    background: rgb(223, 214, 165);
    background: linear-gradient(90deg, rgba(223, 214, 165, 1) 0%, rgba(224, 209, 220, 1) 100%);

}




/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .c-item {
        height: 55vh;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}